@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

svg {
  display: inline;
}

.active {
  background-color: white;
  color: #fcac00;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
