@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Rubik:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #434343;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #434343;
}

@media (max-width: 960px) {
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
  }

  .swiper-button-prev,
  .swiper-button-next {
    height: 230px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  -ms-overflow-style: none;
  /* Firefox 용 */
  scrollbar-width: none;
  /* Webkit (Chrome 등) 용 */
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  color: #434343;
}

.active {
  background-color: white;
  color: #fcac00 !important;
  padding: 1rem;
  border-radius: 100%;
}

.shadow {
  box-shadow: 0 2px 15px 5px rgba(148, 148, 148, 0.1);
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1589895423671-a001009d1752?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2370&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

@layer base {
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
